* {
    padding: 0;
    margin: 0;
}

.hover {
    width: 300px;
    height: 100px;
    background-color: bisque;
}

.hover:hover {  /*se activa cuando el raton pasa por encima */
    background-color: burlywood;
}

.listado {
    padding: 15px;
    background-color: aquamarine;
}

.listado p:first-child {
    color: white;
}

a:link { /* link no visitado todavia */
    color: deeppink;
}

a:visited { /*link visitado */
    color: gold;
}

a:hover {
    color: pink;
}

a:active {
    color: greenyellow;
}